@model Entity.Concrete1.Supplier
@{
    ViewBag.Title = "SupplierUpdate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SupplierUpdate</h2>

@using (Html.BeginForm("SupplierUpdate", "Product", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Supplier Adı")
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
        <br />
        @Html.Label("Adres")
        @Html.TextBoxFor(x => x.ContactPerson, new { @class = "form-control" })
        <br />
        @Html.Label("Telefon")
        @Html.TextBoxFor(x => x.Phone, new { @class = "form-control" })
        <br />
        <button class="btn btn-primary">Güncelle</button>
    </div>
}
